@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")
<!-- content -->
<div id="appModule" class="card card-body mb-4 content">
    <div><p class="contenttitle">@ViewData["pageNm"]</p></div>
    <form id="aform">
        <div class="con_search">
            <ul>
                <li>
                    <select class="form-control form-control-sm">
                        <option value="ALL">전체</option>
                        <option value="TLE">제목</option>
                        <option value="CNT">내용</option>
                        <option value="AUT">작성자</option>
                    </select> <input type="text" maxlength="50" placeholder="검색어를 입력하세요">
                </li>
                <li>
                    <button type="button" class="btn2  btn-gray">검색</button>
                </li>
            </ul>
        </div>
    </form>
    @if (ViewData["fs_at"].Equals("Y") || ViewData["pageNm"].Equals("강의 묻고답하기")) {
        <div class="btnCon"><button type="button" class="btn2 btn-gray">글쓰기</button></div>
    }
    <table class="AType">
        <colgroup>
            <col class="wid10pro  wid65px">
            @if (ViewData["pageNm"].Equals("강의 묻고답하기")) {
                <col class="wid10pro  wid65px">
            }
            <col>
            <col width="10%" class="disnone">
            <col width="12%" class="disnone">
            <col width="10%" class="disnone">
            <col width="10%" class="disnone">
        </colgroup>
        <thead>
            <tr>
                <th>번호</th>
                @if (ViewData["pageNm"].Equals("강의 묻고답하기")) {
                    <th>공개 여부</th>
                }
                <th>제목</th>
                <th class="disnone">파일</th>
                <th class="disnone">작성자</th>
                <th class="disnone">작성일</th>
                <th class="disnone">조회수</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["pageNm"].Equals("강의 공지사항") && ViewBag.EmpNotiCnt > 0 && ViewBag.param["page"].Equals("1")) {
                for (int i = 0; i < ViewBag.EmpResultList.Count; i++) {
                    <tr>
                        <td><!----> <span><img src="/images/lctSport/icon-star.png"></span></td>
                        <td class="lft" style="cursor: pointer;" onclick="goDetail(@ViewBag.EmpResultList[i]["BBS_ID"])">@ViewBag.EmpResultList[i]["TITLE"]</td>
                        @if (ViewBag.EmpResultList[i]["DOC_ID"] != "") {
                            <td><a href="#" onclick="javascript: sendFileId('/File/DownloadDocument', '@ViewBag.EmpResultList[i]["FILE_ID"]')"><img src="~/images/lctSport/ic_file_01.jpg" /></a></td>
                        } else {
                            <td></td>
                        }
                        <td class="disnone">@ViewBag.EmpResultList[i]["REGISTER"]</td>
                        <td class="disnone">@ViewBag.EmpResultList[i]["REGIST_DT"].ToString().Split(' ')[0]</td>
                        <td class="disnone">@ViewBag.EmpResultList[i]["RDCNT"]</td>
                    </tr>
                }
            }
            @if (ViewBag.ResultCnt > 0) {
                int empNotiCnt = ViewData["pageNm"].Equals("강의 공지사항") ? ViewBag.EmpNotiCnt : 0;
                for (int i = 0; i < ViewBag.ResultList.Count; i++) {
                <tr>
                    <td><!----> <span>@( ViewBag.ResultCnt - empNotiCnt - 10 * (Convert.ToInt32(ViewBag.param["page"])- 1) - @i )</span></td>
                    @if (ViewData["pageNm"].Equals("강의 묻고답하기"))
                    {
                        <td><!----> <span>@ViewBag.ResultList[i]["OTHBC"]</span></td>
                    }
                    @if (ViewData["fs_at"].Equals("Y"))
                    {
                        <td class="lft" style="cursor: pointer;" onclick="goDetail(@ViewBag.ResultList[i]["BBS_ID"])">@ViewBag.ResultList[i]["TITLE"]</td>
                    }
                    else if (ViewData["pageNm"].Equals("강의 묻고답하기") && (ViewBag.ResultList[i]["OTHBC"].Equals("비공개") && !ViewData["name"].Equals(ViewBag.ResultList[i]["REGISTER"])))
                    {
                        <td class="lft" style="cursor: pointer;" onclick="test()">@ViewBag.ResultList[i]["TITLE"]</td>
                    }
                    else
                    {
                        <td class="lft" style="cursor: pointer;" onclick="goDetail(@ViewBag.ResultList[i]["BBS_ID"])">@ViewBag.ResultList[i]["TITLE"]</td>
                    }
                    @if (ViewBag.ResultList[i]["DOC_ID"] != "")
                    {
                        <td><a href="#" onclick="javascript: sendFileId('/File/DownloadDocument', '@ViewBag.ResultList[i]["FILE_ID"]')"><img src="~/images/lctSport/ic_file_01.jpg" /></a></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="disnone">@ViewBag.ResultList[i]["REGISTER"]</td>
                    <td class="disnone">@ViewBag.ResultList[i]["REGIST_DT"].ToString().Split(' ')[0]</td>
                    <td class="disnone">@ViewBag.ResultList[i]["RDCNT"]</td>
                </tr>
                }
            } else {
                <tr>
                    <td colspan="6" class="disnone">글이 없습니다.</td>
                </tr>
            }
        </tbody>
    </table>

    @{
        int k = 1;
        string active = "";
    }
<ul class="paging typeA">
    <!---->
    <li style="cursor:pointer" class="go-prev
                                           @if (ViewBag.param["page"].Equals("1")) {
                                                @:disabled
                                            }
                                        ">
        <a tabindex="-1">Prev</a>
    </li>
    @for (int j = ViewBag.ResultCnt; j > 0; j -= 10, k++) {
        @if (ViewBag.param["page"].Equals(k.ToString())) {
            active = "active";
        } else { active = ""; }
        <li onclick="goPage(@k);" style="cursor:pointer" class="@active">
            <a tabindex="0">@k</a>
        </li>
    }
    <li style="cursor:pointer" class="go-next
                                        @if (ViewBag.param["page"].Equals((k-1).ToString())) {
                                            @:disabled
                                        }
                                     ">
        <a tabindex="-1">Next</a>
    </li>
    <!---->
</ul>
</div>
<!-- content -->
<script type="text/javascript">
            $(function () {
                $(".go-prev").click(function () {
                    var page = $("[name=page]").val() * 1 - 1;
                    if (!$(this).hasClass('disabled'))
                        goPage(page);
                });

                $(".go-next").click(function () {
                    var page = $("[name=page]").val() * 1 + 1;
                    if (!$(this).hasClass('disabled'))
                        goPage(page);
                });
            });
            function goPage(page) {
                $("[name=page]").val(page);

                $("#__form__").attr("action", "@ViewBag.SelectPageList");
                $("#__form__").submit();
            }
            function goDetail(bbs_id) {
                var input = "<input type='hidden' name='bbs_id' />";
                $("#__form__").append(input);

                $("[name=bbs_id]").val(bbs_id);

                $("#__form__").attr("action", "@ViewBag.Select");
                $("#__form__").submit();
            }


            $(function () {
                $(".btnCon").find("button").click(function () {
                    $("#__form__").attr("action", "@ViewBag.InsertForm");
                    $("#__form__").submit();
                });

                $("[name=selectSubj]").change(function () {
                    $("#__form__").attr("action", "@ViewBag.SelectPageList");
                    $("#__form__").submit();
                });

                $("[name=selectYearhakgi]").change(function () {
                    $("[name=selectSubj]").trigger('change');
                });
            });

    function test() {
        alert("비공개글입니다.");
    }
</script>
    </div>
</div>


@Html.Partial("~/Views/Shared/LctSportFooter.cshtml")