@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")
  

            <!-- content -->
            <div id="appModule" class="card card-body mb-4 content">
                <div><p class="contenttitle">@ViewData["pageNm"]</p></div>
                <div class="board_write_form">
                    <dl>
                        <dt>
                            제목
                        </dt>
                        <dd><input type="text" id="title" v-model="title" class="es" style="width: 100%;"></dd>
                    </dl>
                    <dl>
                        <dt>
                            공개여부
                        </dt>
                        <dd>
                            <input type="radio" id="one" value="Y" v-model="othbcAt">
                            <label for="one">공개</label>
                            <input type="radio" id="two" value="N" v-model="othbcAt">
                            <label for="two">비공개</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            내용
                        </dt>
                        <dd>
                            <textarea id="content" class="es" style="display: none;"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            파일 업로드
                        </dt>
                        <dd>
                            <file-upload ref="attach" multiple="true" :storage-id="storageId" :attach-id="atchFileId" params="{ 'masterNo' : '5' }" @@upload-complete="uploadComplete"></file-upload>
                        </dd>
                    </dl>
                </div>
                <div class='btnCon'>
                    @if (ViewData["command"].Equals("UPDATE")) {
                        @:<button type="button" class="btn2 btn-darkpurple" @@click="saveData()">수정</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    } else {
                        @:<button type="button" class="btn2 btn-darkpurple" @@click="saveData()">등록</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    }
                    <button type="button" class="btn2 btn-gray" @@click="goList()">목록</button>
                </div>
            </div>
            <!-- content -->
            <script>

                let appModule = new Vue({
                    el: '#appModule',
                    data: {
                        pageInit: false,
                        selectYearhakgi: null,
                        selectSubj: null,
                        selectChangeYn: 'Y',
                        masterNo: '5',
                        searchCondition: 'ALL',
                        searchKeyword: '',
                        boardNo: '',
                        @if (ViewData["command"].Equals("UPDATE")) {
                            @: title: '@ViewBag.result["TITLE"]',
                            @: content: '@Html.Raw(@ViewBag.result["CONTENTS"])',
                        } else {
                            @: title: null,
                            @: content: null,
                        }
                        othbcAt: 'Y',
                        preOthbcAt: 'Y',
                        atchFileId: null,
                        storageId: '1000',
                        cmd: 'insert',
                        sortOrdr: null,
                        upperNo: null,
                        @if (ViewData["command"].Equals("UPDATE")) {
                            @:bbs_id: '@ViewBag.result["BBS_ID"]'
                        }
                    },
                    mounted: function () {
                        let self = this;

                        appEvents.$on('eventSubjChange', function (param) {

                            self.selectYearhakgi = param.selectYearhakgi;
                            self.selectSubj = param.selectSubj;

                            if (!self.pageInit) {

                                self.pageInit = true;


                            } else {

                                self.searchCondition = 'ALL';
                                self.searchKeyword = '';

                                linkUrl('BoardQnaListStdPage.do', self.$data);
                            }
                        });
                    },
                    methods: {
                        saveData: function () {
                            this.$refs.attach.upload();
                        },
                        uploadComplete: function (attachId) {
                            this.atchFileId = attachId;


                            oEditors.getById["content"].exec("UPDATE_CONTENTS_FIELD", []);


                            this.content = $('#content').val();
                            this.content = this.content.replace(/(?:\r\n|\r|\n)/g, '<br/>');
                            if (this.title == null) {
                                alert('제목은 반드시 입력해주세요');
                                $("#title").focus();
                                return false;
                            }

                            axios.post('@ViewBag.Insert',
                                {
                                    'selectSubj': this.$data.selectSubj,
                                    'selectChangeYn': this.$data.selectChangeYn,
                                    'title': this.$data.title,
                                    'othbcAt': this.$data.othbcAt,
                                    'content': this.$data.content,
                                    'atchFileId': this.$data.atchFileId,
                                    'storageId': this.$data.storageId,
                                    'cmd': this.$data.cmd,
                                     @if (ViewData["command"].Equals("UPDATE")) {
                                        @:'bbs_id': this.$data.bbs_id
                                    }
                                 })
                                .then(function (response) {
                                    @if(ViewData["command"].Equals("UPDATE")) {
                                        @:alert("수정되었습니다.");
                                        @:goDetail('@ViewBag.result["BBS_ID"]');
                                    } else {
                                        @:alert("등록되었습니다.");
                                        @:linkUrl('@ViewBag.SelectPageList', this.$data);
                                    }
                                });
                        },

                        getData: function (param) {
                            axios.post('@ViewBag.Select', param)
                                .then(function (response) {
                                }.bind(this));
                        },
                        goList: function () {
                            linkUrl('@ViewBag.SelectPageList', this.$data);
                        }
                    }
                });

            </script>

            <script type="text/javascript">
                //SmartEditor :항상 Textarea보다 아래에 이 스크립트가 있어야 합니다.
                var oEditors = [];
                var oContents = new Array(1);
                oContents[0] = "content";

                $(function () {
                    if ("@ViewData["command"]" == "UPDATE") {
                        $("#title").val('@ViewBag.result["TITLE"]');
                        $("#content").html('@Html.Raw(@ViewBag.result["CONTENTS"])');
                    }

                    $(".btnCon").find("button").eq(1).click(function () {
                        $("#__form__").attr("action", "@ViewBag.SelectPageList");
                        $("#__form__").submit();
                    });

                    $("[name=selectSubj]").change(function () {
                        $("#__form__").attr("action", "@ViewBag.SelectPageList");
                        $("#__form__").submit();
                    });

                    $("[name=selectYearhakgi]").change(function () {
                        $("[name=selectSubj]").trigger('change');
                    });
                });

                function goDetail(bbs_id) {
                    var input = "<input type='hidden' name='bbs_id' />";
                    $("#__form__").append(input);

                    $("[name=bbs_id]").val(bbs_id);

                    $("#__form__").attr("action", "@ViewBag.Select");
                    $("#__form__").submit();
                }
            </script>

            <script type="text/javascript" src="~/lib/smarteditor/HuskyEZCreator.js" charset="utf-8"></script>
            <script type="text/javascript" src="~/lib/smarteditor/smarteditor_basic.js" charset="utf-8"></script>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/LctSportFooter.cshtml")
