@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")

<form id="__form3__" method="post" style="display: none;">
    <input id="filename" type="hidden" name="file_id" />
</form>

<script>
    function sendFileId(url, fileId) {
        alert("기존 파일을 삭제하고 새로 첨부파일을 업로드합니다.");
        var form = document.getElementById("__form3__");
        var fName = document.getElementById("filename");
        form.action = url;
        form.method = "post";
        fName.setAttribute("value", fileId);
        form.submit();
    }
</script>

<!-- content -->
<div id="appModule" class="card card-body mb-4 content">
    <div><p class="contenttitle">@ViewData["pageNm"]</p></div>
    <div class="board_view">
        <div class="board_view_header">
            <h2>@ViewBag.result["TITLE"]</h2>
            <div class="board_viewInfo">
                <span>작성자 :</span> @ViewBag.result["NAME"] <span>등록일 :</span>@ViewBag.result["REGIST_DT"] <span>조회수 :</span> @ViewBag.result["RDCNT"]
            </div>
        </div>
        @for (int i = 0; i < ViewBag.fileCount; ++i) {
            <div class="board_viewfile"><span>파일 : </span><a href="#" onclick="javascript: sendFileId('/File/DownloadDocument', '@ViewBag.fileList[i]["FILE_ID"]')"> @ViewBag.fileList[i]["FILE_NAME"].@ViewBag.fileList[i]["FILE_EXTSN"]</a></div>
        }
        <div class="board_view_content">
            <div class="board_viewDetail">
                <div>
                    @Html.Raw(@ViewBag.result["CONTENTS"])
                </div>
            </div>
        </div>
        @if (ViewData["pageNm"].Equals("강의 묻고답하기") || ViewData["pageNm"].Equals("강의 자료실")) {
    <div class="board_view_comment">

        @for (int i = 0; i < ViewBag.commentList.Count; i++)
        {
            <ul class="board_viewcomment">
                <li class="name first">@ViewBag.commentList[i]["NAME"]</li>
                <li class="text first">
                    <div>
                        @Html.Raw(ViewBag.commentList[i]["CONTENTS"])
                    </div><label><span style="color: rgb(2, 105, 202);">(@ViewBag.commentList[i]["REGIST_DT"])</span><button type="button" class="btn2 btn-white btnsmall" style="display: none;">삭제</button></label>
                </li>
            </ul>
        }
        <ul class="board_viewcomment_input"><li><textarea name="cm" id="cm"></textarea><label><button type="button" class="btn2 btn-input">입력</button></label></li></ul>
    </div>
        }
    </div>
    <div class="btnCon">
        @if ((!ViewData["pageNm"].Equals("강의 묻고답하기") && ViewData["fs_at"].Equals("Y")) || (ViewData["pageNm"].Equals("강의 묻고답하기") && @ViewBag.result["NAME"].Equals(ViewData["name"]))) {
            <button type="button" class="btn2 btn-gray">수정</button>
            <button type="button" class="btn2 btn-gray">삭제</button>
        }
        <button type="button" id="btn_list" class="btn2 btn-gray">목록</button>
    </div>
    <div class="next_prev_box">
        <dl>
            <dt><em>이전 글</em></dt>
            @if (!ViewBag.result["PREV_ID"].Equals("")) {
                <dd style="cursor: pointer;" onclick="goDetail('@(ViewBag.result["PREV_ID"])');"> @ViewBag.result["PREV_TITLE"]</dd>
            } else {
                <dd> 이전글이 없습니다.</dd>
            }
        </dl>
        <dl>
            <dt><em>다음 글</em></dt>
            @if (!ViewBag.result["NEXT_ID"].Equals("")) {
                <dd style="cursor: pointer;" onclick="goDetail('@(ViewBag.result["NEXT_ID"])');"> @ViewBag.result["NEXT_TITLE"]</dd>
            } else {
                <dd> 다음글이 없습니다.</dd>
            }
        </dl>
    </div>
</div>
<!-- content -->

<script type="text/javascript">
    $(function () {
        // 입력 버튼
        $(".board_view_comment").find("button").click(function () {
            var input = "<input type='hidden' name='bbs_id' />";
            $("#__form__").append(input);

            $("[name=bbs_id]").val(@ViewBag.result["BBS_ID"]);

            $("#__form__").attr("action", "@ViewBag.Insert");
            $("#__form__").submit();
        });
        // 수정 버튼
        $(".btnCon").find("button").eq(0).click(function () {
            var input = "<input type='hidden' name='bbs_id' />";
            $("#__form__").append(input);

            $("[name=bbs_id]").val(@ViewBag.result["BBS_ID"]);

            $("#__form__").attr("action", "@ViewBag.UpdateForm");
            $("#__form__").submit();
        });

        // 삭제 버튼
        $(".btnCon").find("button").eq(1).click(function () {
            var input = "<input type='hidden' name='bbs_id' />";
            $("#__form__").append(input);

            $("[name=bbs_id]").val(@ViewBag.result["BBS_ID"]);

            if (confirm("삭제하시겠습니까?")) {
                $("#__form__").attr("action", "@ViewBag.Delete");
                $("#aform").attr("method", "POST");

                $("#__form__").ajaxForm({
                    success: function (data) {
                        if (data == 'ok') {
                            alert("삭제하였습니다.");
                            $('#__form__').ajaxFormUnbind();
                            $(".btnCon").find("button").eq(2).trigger("click");
                        } else {
                            alert("에러가 발생헀습니다.");
                        }
                    }
                });

                $("#__form__").submit();
            }
        });

        // 목록 버튼
        $("#btn_list").click(function () {
            $("#__form__").attr("action", "@ViewBag.SelectPageList");
            $("#__form__").submit();
        });

        $("[name=selectSubj]").change(function () {
            $("#__form__").attr("action", "@ViewBag.SelectPageList");
            $("#__form__").submit();
        });

        $("[name=selectYearhakgi]").change(function () {
            $("[name=selectSubj]").trigger('change');
        });
    });

    function goDetail(bbs_id) {
        var input = "<input type='hidden' name='bbs_id' />";
        $("#__form__").append(input);

        $("[name=bbs_id]").val(bbs_id);

        $("#__form__").attr("action", "@ViewBag.Select");
        $("#__form__").submit();
    }
</script>

@Html.Partial("~/Views/Shared/LctSportFooter.cshtml")
