@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")

<form id="__form2__" method="post" style="display: none;">
    <input type="hidden" name="selectedGrcode" />
    <input id="yearhakgi" type="hidden" name="selectedYearhakgi" />
    <input id="_selectedSubj" type="hidden" name="selectedSubj" />
    <input id="_BBS_ID" type="hidden" name="BBS_ID" />
    <input type="hidden" name="page" value="@ViewBag.param["page"]" />
</form>

<script>
    function page_move(url, acdmc_no, yearhakgi, bbs_id) {
        var form = document.getElementById("__form2__");
        var yh = document.getElementById("yearhakgi");
        var subj = document.getElementById("_selectedSubj");
        var bbs = document.getElementById("_BBS_ID");
        form.action = url;
        form.method = "post";
        yh.setAttribute("value", yearhakgi);
        subj.setAttribute("value", acdmc_no);
        bbs.setAttribute("value", bbs_id);
        form.submit();
    }
</script>

<div id="appModule">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body notice-list  mb-4">
                <div class="bodtitle">
                    <p class="title-text">Notice</p> <a href="#" class="more_btn" onclick="javascript: page_move('/Notice/SelectPageListNotice', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')"><i class="fas fa-list"></i></a>
                </div>
                <div class="board_notice">
                    <dl class="notice_list_top">
                        @if (ViewBag.noticeCount == 0) {
                            <dl class="notice_list_top"><dt><p>등록된 내용이 없습니다.</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt></dl>
                        } else {
                            @for (int i = 0; i < 4; ++i) {
                                if (i < ViewBag.noticeCount) {
                                    <dt><p><a href="#" onclick="javascript: page_move('/Notice/SelectNotice', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI', '@ViewBag.noticeList[i]["BBS_ID"]')">@ViewBag.noticeList[i]["TITLE"]</a></p> <span class="date">@ViewBag.noticeList[i]["REGIST_DT"].Split(' ')[0]</span></dt>
                                } else {
                                    <dt><p><a href="#">&nbsp;</a></p> <span class="date"></span></dt>
                                }
                            }
                        }

                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body subjectpresentbox  mb-4">
                <div class="bodtitle"><p class="title-text">과목현황</p></div>
                <div class="tablelistbox">
                    <div class="row">
                        <div class="col-6">
                            <ul class="subjectpresent">
                                <li><a href="#" onclick="javascript: page_move('/Notice/SelectPageListNotice', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')">공지사항 <span class="oval">@ViewBag.noticeCount</span></a></li>
                                <li><a href="#" onclick="javascript: page_move('/Task/SelectPageListTask', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')">과제 <span class="oval">@ViewBag.taskCount</span></a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="subjectpresent">
                                <li><a href="#" onclick="javascript: page_move('/Recsroom/SelectPageListRecsroom', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')">자료 <span class="oval">@ViewBag.recsCount</span></a></li>
                            </ul>
                        </div>
                        <br>&nbsp;
                    </div>
                </div>

            </div>
        </div>
    </div> <div class="row">
        <div class="col-md-6  mb-4">
            <div class="card card-body notice-list  mb-4">
                <div class="bodtitle">
                    <p class="title-text">자료실</p> <a href="#" class="more_btn" onclick="javascript: page_move('/Recsroom/SelectPageListRecsroom', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')"><i class="fas fa-list"></i></a>
                </div>
                <div class="board_notice">
                    <dl class="notice_list_top">
                        @if (ViewBag.recsCount == 0) {
                            <dl class="notice_list_top"><dt><p>등록된 내용이 없습니다.</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt></dl>
                        } else {
                            @for (int i = 0; i < 4; ++i) {
                                if (i < ViewBag.recsCount) {
                                    <dt><p><a href="#" onclick="javascript: page_move('/Recsroom/SelectRecsroom', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI', '@ViewBag.recsList[i]["BBS_ID"]')">@ViewBag.recsList[i]["TITLE"]</a></p> <span class="date">@ViewBag.recsList[i]["REGIST_DT"].Split(' ')[0]</span></dt>
                                } else {
                                    <dt><p><a href="#">&nbsp;</a></p> <span class="date"></span></dt>
                                }
                            }
                        }
                        </dl>
                </div>
            </div>
        </div> <div class="col-md-6  mb-4">
            <div class="card card-body notice-list  mb-4">
                <div class="bodtitle">
                    <p class="title-text">Q&amp;A</p> <a href="#" class="more_btn" onclick="javascript: page_move('/QNA/SelectPageListQNA', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI')"><i class="fas fa-list"></i></a>
                </div>
                <div class="board_notice">
                    <dl class="notice_list_top">
                        @if (ViewBag.qnaCount == 0) {
                            <dl class="notice_list_top"><dt><p>등록된 내용이 없습니다.</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt> <dt><p>&nbsp;</p></dt></dl>
                        } else {
                            @for (int i = 0; i < 4; ++i) {
                                if (i < ViewBag.qnaCount) {
                                    <dt><p><a href="#" onclick="javascript: page_move('/QNA/SelectQNA', '@ViewBag.ACDMC_NO', '@ViewBag.YEAR_HAKGI', '@ViewBag.qnaList[i]["BBS_ID"]')">@ViewBag.qnaList[i]["TITLE"]</a></p> <span class="date">@ViewBag.qnaList[i]["REGIST_DT"].Split(' ')[0]</span></dt>
                                } else {
                                    <dt><p><a href="#">&nbsp;</a></p> <span class="date"></span></dt>
                                }
                            }
                        }
                        </dl>
                </div>
            </div>
        </div>
    </div> <form id="viewForm" name="viewForm" method="post"><input id="grcode" name="grcode" type="hidden"><input id="subj" name="subj" type="hidden"><input id="year" name="year" type="hidden"><input id="hakgi" name="hakgi" type="hidden"><input id="bunban" name="bunban" type="hidden"><input id="module" name="module" type="hidden"><input id="lesson" name="lesson" type="hidden"><input id="oid" name="oid" type="hidden"><input id="ptime" name="ptime" type="hidden"><input id="weeklyseq" name="weeklyseq" type="hidden"><input id="weeklysubseq" name="weeklysubseq" type="hidden"><input id="totalTime" name="totalTime" type="hidden"><input id="prog" name="prog" type="hidden"><input id="profYN" name="profYN" type="hidden" value="N"><input id="previewYN" name="previewYN" type="hidden" value="N"></form>
</div>
            </div>

        </div>

<script type="text/javascript">
    $(function () {
        $("[name=selectSubj]").change(function () {
            $("#__form__").attr("action", "/LctGnrlz/LctGnrlz");
            $("#__form__").submit();
        });

        $("[name=selectYearhakgi]").change(function () {
            $("[name=selectSubj]").trigger('change');
        });
    });</script>
@Html.Partial("~/Views/Shared/LctSportFooter.cshtml")