<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
<!DOCTYPE html>
<!-- saved from url=(0052)https://klas.kw.ac.kr/std/cps/inqire/StandStdPage.do -->
<html lang="en">


<body>

    <main role="main">
        <div class="py-5 bg-light">
            <div class="container">

                <div id="appModule" class="card card-body mb-4 content">
                    <div><p class="contenttitle">석차 조회</p></div>
                    <table class="tablegw">
                        <colgroup><col style="width: 35%;"> <col style="width: 25%;"> <col style="width: 15%;"></colgroup>
                        <thead><tr><th>학과/학부</th> <th>학번</th> <th>이름</th></tr></thead>
                        <tbody>
                            <tr>
                                <td>응용소프트웨어/소프트웨어학부</td>
                                <td>@ViewBag.userInfo.user_id</td>
                                <td>@ViewBag.userInfo.name</td>
                            </tr>
                        </tbody>
                    </table><form id="aform">
    <button type="button" id="listButton" class="btn2 btn-learn">이전 석차 내역 불러오기</button>
</form>

                    <br><br><br><br>

                    <div id="test" style="margin-top: 10px">
                        

                        <table class="AType">
                            <colgroup><col width="12.5%"> <col width="12.5%"> <col width="12.5%"> <col width="12.5%"> <col width="12.5%"> <col width="12.5%"> <col width="12.5%"> <col width="12.5%"></colgroup>
                            <table class="AType">
                                <thread>
                                    <colgroup id="hz">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                        <col width="12.5%">
                                    </colgroup>
                                    <tr>
                                        <th>년도</th>
                                        <th>학기</th>
                                        <th>신청학점</th>
                                        <th>총점</th>
                                        <th>평점</th>
                                        <th>백분율</th>
                                        <th>학과석차</th>
                                        <th>학사경고</th>
                                    </tr>
                                </thread>
                                <tbody>
                                @* 최신 학기에 성적이 반영되어있지 않다면 *@
                                @if (ViewBag.RecentlyGradeAt.Equals("N")) {
                                    <tr>
                                    <td colspan="8">@ViewBag.RecentYear 년도 @ViewBag.RecentHakgi 학기의 석차정보가 아직 입력되어 있지 않습니다.</td>
                                    </tr>
                                } 
                                @for (int i = 0; i < ViewBag.RankList.Count; i++) {
                                    var Rank = ViewBag.RankList[i];
                                    if (!Rank["TOTAL_GRADE_JUMSU"].Equals("0") && !Rank["TOTAL_GRADE_JUMSU"].Equals("")) {
                                        <tr name="rank_tr" @if (!Rank["YEAR"].Equals(ViewBag.RecentYear) || !Rank["SEMESTER"].Equals(ViewBag.RecentHakgi)) { <text>style="display:none"</text> }>
                                        <td>@Rank["YEAR"]</td>
                                        <td>@Rank["SEMESTER"]</td>
                                        <td>@Rank["TOTAL_CREDITS"]</td>
                                        <td>@Rank["TOTAL_GRADE_JUMSU"]</td>
                                        <td>@Rank["AVG_JUMSU"]</td>
                                        <td>@Rank["PERCENTAGE"]</td>
                                        <td>@Rank["RANK"]</td>
                                        <td></td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#listButton").click(function () {
                $("[name=rank_tr]").show();
                $(this).hide();
            });
        </script>
        </main>
</body>

</html>