@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")

<div id="appModule" class="card card-body mb-4 content">
<div class="popWindow">
    <p class="contenttitle">
        @ViewData["pageNm"]
    </p>
    <div id="btnCon" class="btnCon">
        @if (ViewData["fs_at"].Equals("Y")) {
        <button type="button" class="btn2 btn-white">과제 등록</button>
        } else {
        <button type="button" class="btn2 btn-white">과제 이력</button>
        }
    </div>
    <div style="color: red;">
        ※ 과제목록 <b>조회 순서</b>가 <b>변경</b>되었으니 반드시 <b>확인</b>하시기 바랍니다. <b><u>(최근 출제순)</u></b>
    </div>
    <div class="tablelistbox">
        <table class="AType">
            <colgroup>
                <col width="10%" class="wid10pro  wid65px">
                <col width="*">
                <col width="16%">
                <col width="6%">
                <col width="8%" class="wid10pro  wid65px">
                <col width="8%" class="wid10pro  wid65px">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">No</th>
                    <th rowspan="2">과제 제목</th>
                    <th>제출기한</th>
                    <th rowspan="2">상태</th>
                    <th rowspan="2">조회</th>
                    <th rowspan="2">공개과제</th>
                </tr>
                <tr>
                    <th>추가제출기한</th>
                </tr>
            </thead>
            @if (ViewBag.ResultCnt > 0) {
                @for (int i = 0; i < ViewBag.ResultCnt; i++) {
                <tbody>
                    <tr>
                        <td rowspan="2">@(ViewBag.ResultCnt - i)</td>
                        <td rowspan="2" class="lft">@ViewBag.ResultList[i]["TITLE"]</td>
                        <td>
                            @if (ViewBag.ResultList[i]["B1"].Equals("Y")) {
                                <font color="blue"> @ViewBag.ResultList[i]["BEGIN_TMLMT"] ~ @ViewBag.ResultList[i]["END_TMLMT"] </font>
                            } else {
                                @ViewBag.ResultList[i]["BEGIN_TMLMT"] 
                                @:~ 
                                @ViewBag.ResultList[i]["END_TMLMT"]
                             }
                        </td>
                        <td rowspan="2">미제출</td>
                        <td rowspan="2">
                            <button type="button" class="btn2 btn-gray" onclick="goDetail(@ViewBag.ResultList[i]["TASK_SEQ"])">조회</button>
                        </td>
                        <td rowspan="2">
                            <button type="button" class="btn2 btn-gray">비공개</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @if (ViewBag.ResultList[i]["B2"].Equals("Y")) {
                                <font color="blue">@ViewBag.ResultList[i]["BEGIN_ADIT_TMLMT"] ~ @ViewBag.ResultList[i]["END_ADIT_TMLMT"]</font>
                            } else {
                                @ViewBag.ResultList[i]["BEGIN_ADIT_TMLMT"] 
                                @:~ 
                                @ViewBag.ResultList[i]["END_ADIT_TMLMT"]
                            }
                        </td>
                    </tr>
                </tbody>
                    }
                } else {
            <tr>
                <td colspan="6" class="disnone">출제된 레포트가 없습니다.</td>
            </tr>
            }
            <!---->
        </table>
    </div>
    <div class="mtablelistbox">
        <table class="AType">
            <colgroup>
                <col width="13%">
                <col width="*">
                <col width="15%">
                <col width="20%">
            </colgroup>
            <thead>
                <tr>
                    <th>No</th>
                    <th>과제 제목</th>
                    <th>상태</th>
                    <th>공개<br>과제</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.ResultCnt > 0) {
                    @for (int i = 0; i < ViewBag.ResultCnt; i++) {
                        <tr>
                            <td>@(ViewBag.ResultCnt - i)</td>
                            <td class="lft">
                                <a href="javascript:void(0);" onclick="goDetail(@ViewBag.ResultList[i]["TASK_SEQ"])">
                                    @ViewBag.ResultList[i]["TITLE"]
                                </a>
                            </td>
                            <td>미제출</td>
                            <td>
                                <button type="button" class="btn2 btn-gray">비공개</button>
                            </td>
                        </tr>
                    }
                } else {
                        <tr><td colspan="4">출제된 레포트가 없습니다.</td></tr>
                }
                <!---->
            </tbody>
        </table>
    </div>
    <div style="color: blue; font-weight: bold;">
        *보관기간이 만료된 강의 및 학생 자료파일은 다운로드 할 수 없습니다.<br>
        *보관기간: 강의 및 학생 자료파일은 해당학기 종료 후 1년간 보관<br>
        예) 2019년 기준 - &gt; 2018,2019년도 자료보관<br>
        ※졸업생은 KLAS 사용이 불가하오니 자료백업은 졸업전에 하시기 바랍니다.
    </div>
</div>
</div>

<script>
    $(function () {
        $(".btnCon").find("button").click(function () {
            $("#__form__").attr("action", "@ViewBag.InsertForm");
            $("#__form__").submit();
        });

        $("[name=selectSubj]").change(function () {
            $("#__form__").attr("action", "@ViewBag.SelectPageList");
            $("#__form__").submit();
        });

        $("[name=selectYearhakgi]").change(function () {
            $("[name=selectSubj]").trigger('change');
        });
    });

    function goDetail(task_id) {
        var input = "<input type='hidden' name='task_id' />";
        $("#__form__").append(input);

        $("[name=task_id]").val(task_id);

        $("#__form__").attr("action", "@ViewBag.Select");
        $("#__form__").submit();
    }

</script>

</div>
</div>

@Html.Partial("~/Views/Shared/LctSportFooter.cshtml")