@Html.Partial("~/Views/Shared/LctSportHeader.cshtml")

<div id="appModule" class="card card-body mb-4 content">
    <div>
        <p class="contenttitle">
            @ViewData["pageNm"]
        </p>
    </div>
    <div class="contsubtitle icon">출제 과제 정보</div>
    <table class="tablegw">
        <colgroup>
            <col style="width: 20%;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th>제목</th>
                <td class="lft">@ViewBag.result["TITLE"]</td>
            </tr>
            <tr>
                <th>제출기한</th>
                <td class="lft">@ViewBag.result["BEGIN_TMLMT"] ~ @ViewBag.result["END_TMLMT"]</td>
            </tr>
            <tr>
                <th>추가제출기한</th>
                <td class="lft">@ViewBag.result["BEGIN_ADIT_TMLMT"] ~ @ViewBag.result["END_ADIT_TMLMT"]</td>
            </tr>
            <tr>
                <th>제출방법</th>
                <td class="lft">
                    개인별
                </td>
            </tr>
            @if (ViewData["fs_at"].Equals("N")) {
                <tr>
                    <th>상태</th>
                    <td class="lft">
                        미제출
                    </td>
                </tr>
            }
            <tr>
                <th>내용/주의사항</th>
                <td colspan="5" class="lft">@Html.Raw(@ViewBag.result["CONTENT"])</td>
            </tr>
            <tr>
                <th>제출양식</th>
                <td colspan="5" class="lft">
                    @ViewBag.result["PRESENT_FORM"]
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td colspan="5" class="lft">
                    <div></div>
                </td>
            </tr>
            <tr>
                <th>파일용량제한</th>
                <td colspan="5" class="lft">@ViewBag.result["FILE_CPCTY_LMT"]MB</td>
            </tr>
        </tbody>
    </table>
    @if (ViewData["fs_at"].Equals("N") && (ViewBag.Result["B1"].Equals("Y") || ViewBag.Result["B2"].Equals("Y")) && !ViewBag.ResultPrsentr["PRSENTR_AT"].Equals("Y")) {
        <div class="contsubtitle icon">과제제출</div>
        <table class="AType">
            <colgroup>
                <col style="width: 20%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th>파일</th>
                    <td>
                        <div><input id="prsentr_file" type="file" multiple="" accept="*/*" style="width: 100%;" ></div>
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td><input id="prsentr_title" type="text" size="50" value="@ViewBag.ResultPrsentr["TITLE"]"></td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td><textarea cols="10" rows="3" id="textarea">@ViewBag.ResultPrsentr["CONTENT"]</textarea></td>
                </tr>
            </tbody>
        </table>
    } else if (ViewData["fs_at"].Equals("N") && ViewBag.ResultPrsentr["PRSENTR_AT"].Equals("Y")) {
        <div class="contsubtitle icon">과제제출</div>
        <table class="tablegw">
            <colgroup>
                <col style="width: 20%;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th> 파일</th>
                    <td class="lft">
                        @* <div>
            <div class="board_viewfile">
                <span>파일 : </span><a href="#">2021203012 김정원 12주차 과제.pdf</a><span class="format">[ 189.63 KB ]</span> <span style="display: none;"><a href="#">[삭제]</a></span>
            </div>
        </div>*@
                    </td>
                </tr>
                <tr>
                    <th>제목</th>
                    <td class="lft">@ViewBag.ResultPrsentr["TITLE"]</td>
                </tr>
                <tr>
                    <th>내용</th>
                    <td class="lft">@Html.Raw(@ViewBag.ResultPrsentr["CONTENT"].Replace("\n", "</br>"))</td>
                </tr>
            </tbody>
        </table>
    }
    <div class="btnCon">
        @if (ViewData["fs_at"].Equals("N")) {
            if (!ViewBag.ResultPrsentr["PRSENTR_AT"].Equals("Y")) {
                <button type="button" id="btn_assign" class="btn2 btn-gray">제출</button>
                <button type="button" id="btn_clean" class="btn2 btn-gray">다시</button>
            } else if(ViewBag.Result["B1"].Equals("Y") || ViewBag.Result["B2"].Equals("Y")) {
            <button type="button" id="btn_modify" class="btn2 btn-gray">수정</button>
            <button type="button" id="btn_delete" class="btn2 btn-gray">삭제</button>
            }
        } else {
            <button type="button" id="btn_modify" class="btn2 btn-gray">수정</button>
            <button type="button" id="btn_delete" class="btn2 btn-gray">삭제</button>
        }
        <button type="button" class="btn2 btn-gray">목록</button>
    </div>
</div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        // 수정 버튼
        $(".btnCon").find("button").eq(0).click(function () {
            var input = "<input type='hidden' name='task_id' />";
            $("#__form__").append(input);

            $("[name=task_id]").val(@ViewBag.result["TASK_SEQ"]);

            @if (ViewData["fs_at"].Equals("Y")) {
                @:$("#__form__").attr("action", "@ViewBag.UpdateForm");
            } else {
                if (!ViewBag.ResultPrsentr["PRSENTR_AT"].Equals("Y")) {
                <text>

                input = "<input type='hidden' name='prsentr_file' />";
                $("#__form__").append(input);
                $("[name=prsentr_file]").val($("#prsentr_file").val());

                input = "<input type='hidden' name='prsentr_title' />";
                $("#__form__").append(input);
                $("[name=prsentr_title]").val($("#prsentr_title").val()); 

                input = "<input type='hidden' name='prsentr_content' />";
                $("#__form__").append(input);
                $("[name=prsentr_content]").val($("#textarea").val()); 

                $("#__form__").attr("action", "@ViewBag.Prsentr");

                $("#__form__").ajaxForm({
                    success: function (data) {
                        if (data == 'ok') {
                            alert("제출하였습니다.");
                            $('#__form__').ajaxFormUnbind();
                            goDetail(@ViewBag.result["TASK_SEQ"]);
                        } else {
                            alert("에러가 발생헀습니다.");
                        }
                    }
                });

                </text>
                } else {
                    <text>
                    input = "<input type='hidden' name='prsentr_at' />";
                    $("#__form__").append(input);
                    $("[name=prsentr_at]").val('N');

                    goDetail(@ViewBag.result["TASK_SEQ"]);
                    </text>
                }
            }
            $("#__form__").submit();
            });

        // 삭제 버튼
        $(".btnCon").find("button").eq(1).click(function () {
            @if (ViewData["fs_at"].Equals("Y") || ViewBag.ResultPrsentr["PRSENTR_AT"].Equals("Y")) {
                <text>
                var input = "<input type='hidden' name='task_id' />";
                $("#__form__").append(input);

                $("[name=task_id]").val(@ViewBag.result["TASK_SEQ"]);

                        if (confirm("삭제하시겠습니까?")) {
                    $("#__form__").attr("action", "@ViewBag.Delete");
                    $("#aform").attr("method", "POST");

                    $("#__form__").ajaxForm({
                            success: function(data) {
                            $('#__form__').ajaxFormUnbind();

                                    if (data == 'ok') {
                                        alert("삭제하였습니다.");
                                $(".btnCon").find("button").eq(2).trigger("click");
                                    } else {
                                        alert("에러가 발생헀습니다.");
                                    }
                                }
                            });

                    $("#__form__").submit();
                }
                </text>
             } else {
                <text>
                    $("#prsentr_file").val('');
                    $("#prsentr_title").val('');
                    $("#textarea").val('');
                </text>
            }
        });

        // 목록 버튼
        $(".btnCon").find("button").eq(2).click(function () {
            $("#__form__").attr("action", "@ViewBag.SelectPageList");
            $("#__form__").submit();
        });

        $("[name=selectSubj]").change(function () {
            $("#__form__").attr("action", "@ViewBag.SelectPageList");
            $("#__form__").submit();
        });

        $("[name=selectYearhakgi]").change(function () {
            $("[name=selectSubj]").trigger('change');
        });
    });

    function goDetail(task_seq) {
        $("[name=task_id]").val(task_seq);

        $("#__form__").attr("action", "@ViewBag.Select");
        $("#__form__").submit();
    }
</script>

@Html.Partial("~/Views/Shared/LctSportFooter.cshtml")
